{%extends 'all_news/base.html'%}
{% load static%}
{% block content %}


<div class="container">
    <div class="row">
        <h2 class="center"></h2>
        {% for book in books %}

        <div class="w3-card" style="width:100%; overflow:hidden;">
          <header class="w3-container w3-light-grey">
            <hr>
            <h4>Book name: {{ book.book_name }}</h4>
            <p class='article-content'>Author: {{ book.author_name }}</p>
          </header>

          <div class="w3-container w3-light-grey">
            <img src="{{ book.image.url }}" alt="image" style="width:100%;">
          </div>
          <footer class="w3-container w3-light-grey">
            <br>
            <a href="{%url 'book' book.id %}" style="text-decoration:none;"><button class="btn btn-outline-success center-block"">View More</button></a>
            <br>
          </footer>
        </div>
        {% endfor %}
    </div>

</div>

{% endblock %}
