{%extends 'base.html'%}
{% load bootstrap3 %}
{% block content %}

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet">
<div class="container-fluid banner" >
<div class="container justify-content-center" >
    <h4 class="text-center font-weight-bold" style="font-size:45px;color:yellow; font-family: 'Pangolin', cursive;">Welcome to your <br>Library</h4> <br><br>

    {% if user.is_authenticated %}
        <button type="button" class="btn btn-warning btn-md " style="margin-left: 40%;font-family: 'Pangolin', cursive; font-size: 25px "> <a href="{% url 'all_books' %}" style="text-decoration: none;color: black;">Get started </a>
       </button>

  {%else%}
      <button type="button" class="btn btn-warning btn-md " style="margin-left: 40%;font-family: 'Pangolin', cursive; font-size: 25px "> <a href="/accounts/login/" style="text-decoration: none;color: black;">Get started </a>
    </button>
  {% endif%}
</div>
</div>
<footer>
    <p class="text-center mt-1" style="color:yellow; background-color:rgb(0,0,0,0.6); font-size: 20px;font-family: 'Pangolin', cursive;">All rights reserved. Deborah Mugiraneza Ingabire @2021</p>
</footer>

{% endblock %}
