{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}
{% block content %}



  <div class="container" style="background-color:wheat;"><br><br>
    <p style="text-align: center; font-size:40px; font-family: 'Pangolin', cursive;"> Profile</p> <br><br><br>

    <div class="row" >
  <div class="col-md-8">
  <div class="content-section">
  <div class="media">
  <img src="{{user.profile.image.url}}" alt="Profile" class="img_profile "> <br><br><br><br>
  <div class="media-body">
  <div class="bodd">
  <h3 class="account-heading ml-4" style="font-size:20px;font-family: 'Pangolin', cursive;">{{user.username}}</h3>
  <button style="background-color:black; font-size:15px;"><a href="{% url 'profile_edit' %}" style="color:yellow; text-decoration:none;">Edit Profile</a></button>
</div> <br><br>

  <p style="color: black;font-size:20px;font-family: 'Pangolin', cursive;">Email:  {{user.email}}</p> <br>
  <p style="color: black;font-size:20px;font-family: 'Pangolin', cursive;">Bio:  {{user.profile.bio}}</p> <br><br><br><br><br><br><br><br>
  </div>
</div>
</div>
</div>
</div>
</div>
  <style>
      .img_profile{
        vertical-align: middle;
        width: 200px;
        height: 200px;
        border-radius:50%;
      }
      .bodd,.bod{
       display: flex;
       justify-content: space-between;
      }
    </style>

  {% endblock %}
