<nav class="navbar navbar-expand-lg navbar-dark fixed-top"
    style="font-family: 'Ramaraja', serif;  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);   background-color: rgba(0,0,0,0.5);">
    <a class="navbar-brand" href="/" style=" font-size:25px;color:rgb(64, 255, 0)"> Library</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto ml-4 ">
            {% if user.is_authenticated%}

            <li class="nav-item active">
                <a class="nav-link" href="{% url 'home'}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    {{user.username|title}}
                </a>

                <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                    <a href="{% url 'myprofile' user.username %}" class="dropdown-item">Profile</a>
                    <div class="dropdown-divider"></div>

                    <a href="{% url 'logout' %}" class="dropdown-item">Logout</a>

                </div>

            </li>

            <li class="nav-item">
             <a class="nav-link" href="{% url 'add_book' %}" >Add Book</a>
           </li>
            {% else %}
            <li class="nav-item active">
                <a class="nav-link" href="{%url 'home'}">Home <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link " href="{% url 'login' %}">Login</a>
            </li>

            {% endif %}


        </ul>
        <form class="form-inline my-2 my-lg-0" action="{% url 'search_books' %}">
            <input class="form-control mr-sm-2" type="search" placeholder="Search books" name='search' aria-label="Search">
        </form>
    </div>
</nav>
