{% extends "all_news/base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}

  {{form.media}}

{% block styles %} {{block.super}}
  <link rel="stylesheet" href="{% static 'css/news.css' %}"> {% endblock %}

  {% block content %}
    <div class="container">
        <div class="row">
  <h3>Add new Book.</h3>
  <form  action="{%url 'add_book'%}" method="post" enctype="multipart/form-data">
    {%csrf_token%}

    {% bootstrap_form form%}
    <input type="submit" class="btn btn-success btn-lg" value="Submit">
  </form>
  {% endblock %}
   {% block scripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  {% bootstrap_javascript %} {% endblock %}
