{%extends "base.html"%}
{% load bootstrap3 %}
{% block content %}
<br><br>
<div class="container">
  <br><br>
  <div class="row" style="font-size:20px; font-family: 'Pangolin', cursive;">
    <!-- Empty div -->
    <div class="col-md-3"></div>
    <div class="col-md-6 ">
      {% if form.errors %}
        <p> Password or Username is incorrect </p>
      {% endif %}
      <div class="panel panel-default">

        <div class="panel-heading">
          <h3 class="text-center">Sign In</h3>
        </div>
        <div class="panel-body">

          <form  action="/accounts/login/" method="post">
            {% csrf_token %}
            {% bootstrap_form form%}

            <div class="form-group">
              <input type="submit" class="btn btn-primary btn-sm" style="font-size:15px" value="Login">
            </div>
            <hr>


            <input type="hidden" name="next" value="{{next}}">

              <p style="text-align: center; font-size:20px;font-family: 'Pangolin', cursive;">you don't have any account <br><a href="/accounts/register/">Sign up here</a></p>

          </form>

        </div>

      </div>


    </div>
    <!-- empty div -->
    <div class="col-md-4"></div>
  </div>
</div>

{% endblock %}
