{%extends 'all_news/base.html'%}
{% block content %}
<div class="container">

    <div class="row">
        {% if searched_books%}
        <h2 style="color: wheat;background-color: rgb(0,0,0,0.5);">Found {{ searched_books|length }} of searched term {{message}}</h2>
        {% else %}
        <h2 style="color: wheat;background-color: rgb(0,0,0,0.5);"> Found 0 books for the search term {{message}}</h2>
        {% endif %}

    </div>

    <div class="row">

        {% if searched_books %}
        <div class="container">
            <div class="row">
        <table class="layout">
      <thead>
        <th>Isbn no.</th>
        <th>Book Name</th>
        <th>Author Name</th>
        <th>Book Details</th>
        <th>Department</th>
        <th>Publisher</th>
        <th>Rack No</th>
      </thead>

      {%for book in searched_books%}

       <tr>
         <td> {{ book.isbn_no }}</td>
         <td>{{ book.book_name }}</td>
         <td>{{ book.author_name }}</td>
         <td>{{ book.book_detail }}</td>
         <td>{{ book.department }}</td>
         <td>{{ book.publisher }}</td>
         <td>{{ book.rack_no }}</td>
       </tr>
     {% endfor %}
   </table>
   </div>
  </div>
{% endif %}
</div>
   </div>
{% endblock %}
